/* цвет основного текста #212121 */
/*вторичный цвет  текста  #757575 */
/* белый  #FFFFFF */
/* акцент #2196F3 */
/* вторичный фон #F5F4FA */
/* цвет лого #000000 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-link-bg-color: rgba(255, 255, 255, 0.1);
}

/* Остальной код */
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* button */
.button {
  display: inline-block;

  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  align-items: center;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.sub {
  display: flex;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  margin-left: 12px;
}
.button.sub::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/send.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-self: baseline;

  margin-left: 10px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

/* утилита */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.picture {
  display: block;
}

/* прячем заголовок */
.is-hidden {
  display: none;
}

/* шапка */
/* .header-nav {
  padding-top: 24px;
  padding-bottom: 25px;
} */

.main-nav {
  display: flex;
  align-items: center;
}

/* логотип */
.logo {
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo .logo-color {
  color: var(--accent-color);
}

/* .site-nav */
.site-nav-logo {
  display: flex;
  align-items: center;
}
.site-nav-logo .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav {
  display: flex;
  margin-left: 85px;
}
/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* add-header */

.add-header {
  display: flex;
  margin-left: auto;
}

.add-header .item + .item {
  margin-left: 30px;
}
/* .add-header .item:not(:last-child) {
  margin-right: 30px;
  
} */

.add-header .link {
  display: block;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.add-header .link:hover,
.add-header .link:focus {
  color: var(--accent-color);
}
.add-header .link::before {
  display: inline-block;
  content: "";
  background-position: center;
  background-repeat: no-repeat;

  margin-right: 10px;
}
.icon-mail::before {
  background-image: url(../img/envelope.svg);

  height: 11px;
  width: 16px;
}
.icon-tel::before {
  background-image: url(../img/phone.svg);
  height: 14px;
  width: 10px;
}
/*footer*/
/* * {
  outline: 2px solid yellowgreen;
} */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-footer {
  display: flex;
}
.main-footer .item + .item {
  margin-left: 30px;
}

.footer .logo {
  color: var(--primary-white-color);
}
.footer .logo-color {
  color: var(--accent-color);
}
/* address */
.foot-address {
  flex-basis: 270px;
}
address p {
  color: var(--primary-white-color);
  font-style: normal;

  margin-top: 20px;
  margin-bottom: 9px;
}
address .link {
  display: inline-block;
  color: var(--footer-link-color);
  text-decoration: none;
  font-style: normal;
}
address .link:not(:last-child) {
  margin-bottom: 9px;
}
/* social networks */

.footer .social {
  flex-basis: 270px;
}

.social-text,
.form-text {
  margin-top: 12px;
  margin-bottom: 20px;

  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.footer-link {
  display: flex;
}

.social .link {
  display: block;
  width: 44px;
  height: 44px;
  background-color: var(--footer-link-bg-color);
  border-radius: 50%;
}

.footer-link .item-list:not(:last-child) {
  margin-right: 10px;
}
.social .item-list {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border-radius: 50%;
}

.social .item-list:hover,
.social .item-list:focus {
  background-color: var(--accent-color);
}

.item-list.instagram {
  background-image: url(../img/instagram2white.svg);
}

.item-list.twitter {
  background-image: url(../img/twitter-1white.svg);
}
.item-list.facebook {
  background-image: url(../img/facebook1white.svg);
}
.item-list.linkedin {
  background-image: url(../img/linkedin-white.svg);
}
/* form */
.footer .form {
  flex-basis: 570px;
}
/* футер^ */

/* main index */

/* hero */
.hero {
  text-align: center;
}

.hero.background {
  padding-top: 200px;

  max-width: 1600px;
  height: 600px;

  background-color: #000000;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/Headerimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}

/* sectoin */
.section:not(.features) {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid tomato; */
}
.section.features {
  padding-top: 94px;
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

/* features*/

.features-list {
  display: flex;
}
.features-list .item {
  width: 270px;
  /* background-color: tomato; */
}
.features-list .item + .item {
  margin-left: 30px;
}
.features-list .item::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}
.icon-group::before {
  background-image: url(../img/Group.svg);
}
.icon-clok1::before {
  background-image: url(../img/clock1.svg);
}
.icon-diagram1::before {
  background-image: url(../img/diagram1.svg);
}
.icon-astronaut1::before {
  background-image: url(../img/astronaut1.svg);
}
.features-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list .title {
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.features-list p {
  margin-top: 0;
  margin-bottom: 0;
}

/* work  */
.work .title {
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  text-transform: uppercase;

  margin: 0;
}
.work.list {
  display: flex;
  /* justify-content: space-between; */
}

.work .item {
  width: calc((100% - 60px) / 3);
}

.work .item:not(:last-child) {
  margin-right: 30px;
}

/* .work .item + .item {
  margin-left: 30px;
} */

/* team  */
.section.team {
  background-color: var(--secondary-bg-color);
}
.team a {
  text-decoration: none;
}
.team .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.team .list {
  display: flex;
  flex-wrap: wrap-reverse;
}

.team .list-link {
  display: flex;
  justify-content: space-between;
}
/* .list-link .list-item:not(:last-child) {
  margin-right: 10px;
} */

.list-link .list-item:not(:nth-child(4n + 4)) {
  margin-right: 10px;
}

/* закраска вместо иконок */
/* удалить потом */
.list-link .list-item {
  display: block;
  width: 44px;
  height: 44px;
  background-color: turquoise;
}

.team .wrapper {
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
}
.team .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  margin-top: 0;
  margin-bottom: 16px;
}
.team .social-icons {
  /* width: 270px; */
  width: calc((100% - 30px * 3) / 4);

  background-color: var(--primary-white-color);
}

.team .social-icons:not(:last-child) {
  margin-right: 30px;
}

.team .link:hover,
.team .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* customers  */
.customers .list {
  display: flex;
  /* justify-content: space-between; */
}
.customers .item {
  width: calc((100% - 150px) / 5);
}
.customers .item + .item {
  margin-left: 30px;
  /* удалить потом */
  background-color: violet;
}

.customers .link:hover,
.customers .link:focus {
  color: var(--accent-color);
}

/* portfolio main */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid tomato; */
}
.box-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.box-button .item + .item {
  margin-left: 8px;
}
.portfolio .filter {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio .filter:hover,
.portfolio .filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.projects {
  font-size: 18px;
  line-height: 1.56;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.grid-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.projects-link a {
  color: inherit;
  text-decoration: none;
}
.projects .text {
  padding: 20px 24px;
}

/* не ховерится картинка */
/* .projects-img:hover,
.projects-img:focus {
  color: var(--accent-color);
} */

.projects-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}
